<section class="serviceSection-3">
  <h2 class="sectionTitle">Lorem ipsum sit amet dollor</h2>
  <div class="serviceResults serviceResults-6">
    <p class="serviceResultText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    <p class="serviceResultText">
      Покрытие предотвращает старение и быстрый износ колёс автомобиля, защищает резину от растрескивания.
    </p>
    <p class="serviceResultText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    <p class="serviceResultText">
      Состав придаёт шинам водоотталкивающий эффект и антистатические свойства — грязь и пыль меньше притягиваются к колесам машины.
    </p>
    <p class="serviceResultText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    <p class="serviceResultText">
      Цена на чернение резины ниже, чем новые покрышки. Если проводить процедуру регулярно, колёса прослужат долго.
    </p>
  </div>
</section>