<section class="serviceSection-1">
  <h2 class="serviceTitle-1">Работаем <br> 24 часа в сутки</h2>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <div class="serviceDescription-1">
    <p>Любим свою работу и командный дух: днём клиентам мыть машины помогают аквастендисты. Ночью наши гости моют авто сами со скидкой 20%.</p>
    <p>Ночной тариф действует с 2:00 до 8:00. Аквастенд находится на улице Дзержинского, 125/1 (севернее центра Краснодара, м-н Авиагородок, рядом с м-н Фестивальный).</p>
  </div>
  <img src="/res/images/serviceImage4.jpg" alt="" class="serviceImage-1">
</section>