<section class="investors">
  <h2 class="sectionTitle">ИНВЕСТОРАМ И ПАРТНЕРАМ</h2>
  <div class="investorsText">
    <p>Сейчас мы&nbsp;разрабатываем условия партнерства для всех, кто разделяет нашу философию чистоты и&nbsp;высоких стандартов ведения бизнеса.</p>
    <p>Свяжитесь с&nbsp;нами любым удобным способом и&nbsp;мы&nbsp;ответим на&nbsp;все вопросы, расскажем и&nbsp;покажем как мы&nbsp;добиваемся выдающихся результатов в&nbsp;нашей работе и&nbsp;индивидуально обсудим потенциальные варианты сотрудничества.</p>
  </div>
  <svg class="investorsIcon">
    <use xlink:href="#spt-logoPath"></use>
  </svg>
  <a href="tel:+79094516016" class="investorsPhone">+7 (909) 451-60-16</a>
  <a href="mailto:business@akvastend.ru" class="investorsEmail">business@akvastend.ru</a>
</section>