.legalTabs {
  @extend %aqs-bottomBorder;
  padding: 130px 0 90px;

  &-1-is-active {
    @extend %tab-1-is-active;
  }

  &-2-is-active {
    @extend %tab-2-is-active;
  }

  &-3-is-active {
    @extend %tab-3-is-active;
  }

}

.tabContent {
  display: none;
  width: 620px;
  margin: 0 auto;
  font-weight: 300;

  %tab-1-is-active &-1 {
    display: block;
  }

  %tab-2-is-active &-2 {
    display: block;
  }

  %tab-3-is-active &-3 {
    display: block;
  }

}

$legalList-background: $blue-100;
$legalList-borderColor: $blue-250;

.legalList {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 760px;
  height: 100px;
  padding: 0 60px 10px;
  border-radius: 45px;
  background: $legalList-background;
  list-style: none;
  margin: 0 auto 60px;

  &:before {
    @include tx-pseudo;
    top: 75px;
    right: 60px;
    left: 60px;
    height: 2px;
    background: $legalList-borderColor;
    opacity: .7;
  }

}

.legalItem {
  width: 175px;
  line-height: 1.2;
}

$legalNavLink-color: $blue-400;

.legalNavLink {
  @include tx-link($legalNavLink-color);
  position: relative;
  display: block;
  font-weight: 500;
  text-decoration: none;

  &:before {
    @include tx-pseudo;
    bottom: -12px;
    right: 0;
    left: 0;
    height: 3px;
    background: currentColor;
    opacity: 0;
  }

  &:focus {
    outline: none;
  }

  &-is-active {

    &:before {
      opacity: 1;
    }

  }

}