<section class="hero">
  <div class="heroSlider js-slider">
    <div class="heroSlide heroSlide-1">
      <h2 class="slideTitle"><a href="/about">Здесь любят автомобили <br />и&nbsp;моют правильно</a></h2>
    </div>
    <div class="heroSlide heroSlide-2">
      <h2 class="slideTitle"><a href="/clients">Экономьте силы, время, деньги <br />на&nbsp;другие свершения</a></h2>
    </div>
    <div class="heroSlide heroSlide-3">
      <h2 class="slideTitle"><a href="/investors">Даём больше любого сервиса <br />в&nbsp;отрасли. Получаем тоже</a></h2>
    </div>
  </div>
  <a href="#" class="instagramLink">
    <svg class="instagramIcon">
      <use xlink:href="#spt-insta">
    </svg>
  </a>
  <a href="#" class="onlineLink">Online
    <svg class="onlineIcon">
      <use xlink:href="#spt-logoPath"></use>
    </svg>
  </a>
</section>