<section class="advantages">
  <h2 class="sectionTitle">Что делает нас лучшими</h2>
  <div class="advantage advantage-1">
    <h2 class="advantageTitle">Оборудование</h2>
    <svg class="advantageIcon">
      <use xlink:href="#spt-item"></use>
    </svg>
    <p class="advantageDescription">Ничего не&nbsp;надо возить с&nbsp;собой. Здесь всё: от&nbsp;губок до&nbsp;торнадоров</p>
  </div>
  <div class="advantage advantage-2">
    <h2 class="advantageTitle">Партнерская мойка</h2>
    <svg class="advantageIcon">
      <use xlink:href="#spt-item"></use>
    </svg>
    <p class="advantageDescription">Мойте с&nbsp;аквастендистом в&nbsp;3 раза быстрее, чем на&nbsp;мойке самообслуживания</p>
  </div>
  <div class="advantage advantage-3">
    <h2 class="advantageTitle">Проходимость</h2>
    <svg class="advantageIcon">
      <use xlink:href="#spt-item"></use>
    </svg>
    <p class="advantageDescription">У&nbsp;нас 11 постов, поэтому стоять в&nbsp;очереди не&nbsp;придётся</p>
  </div>
  <div class="advantage advantage-4">
    <h2 class="advantageTitle">Команда</h2>
    <svg class="advantageIcon">
      <use xlink:href="#spt-item"></use>
    </svg>
    <p class="advantageDescription">Наши аквастендисты знают всё о&nbsp;правильном уходе за&nbsp;авто</p>
  </div>
  <div class="advantage advantage-5">
    <h2 class="advantageTitle">Рецепт</h2>
    <svg class="advantageIcon">
      <use xlink:href="#spt-item"></use>
    </svg>
    <p class="advantageDescription">Мы&nbsp;продумали алгоритмы мойки, чтобы процесс проходил быстрее, кузов не&nbsp;царапался, а&nbsp;авто дольше оставалось чистым</p>
  </div>
  <div class="advantage advantage-6">
    <h2 class="advantageTitle">Автохимия</h2>
    <svg class="advantageIcon">
      <use xlink:href="#spt-item"></use>
    </svg>
    <p class="advantageDescription">Только качественные средства. Без аллергии</p>
  </div>
</section>
