<section class="facts">
  <h2 class="factTitle">В год экономит партнёрская мойка</h2>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <p class="factDescription">С аквастендистом мойка в 3 раза быстрее, поэтому в месяц вы сэкономите около 80 минут, в год — около пяти часов.</p>
  <div class="factInfo">
    <div class="factFront">
      <span class="factNumber">960</span>
      <span class="factDetail">минут</span>
    </div>
    <div class="factBack">
      <span class="factNumber">5</span>
      <span class="factDetail">вещей</span>
    </div>
  </div>
  <button class="factMore">
    <svg class="factMoreIcon">
      <use xlink:href="#spt-arrow"></use>
    </svg>
  </button>
  <svg class="factTimer factTimer-is-animated">
      <clipPath id="mask">
        <path d="M0 5.772C0 2.75 2.686.3 6 .3s6 2.45 6 5.47C12 10.556 7.125 15 6 15s-6-4.445-6-9.228z" transform="scale(2.5) rotate(180 6.1 7.5)"/>
      </clipPath>
      <g clip-path="url(#mask)">
        <rect width="30" height="30" fill="white" />
        <rect id="factPath" y="38" x="-15" width="60" height="50" fill="#0A5FB6" />
      </g>
      <use xlink:href="#spt-item" stroke="#0A5FB6" fill="transparent" transform=" rotate(180 15.5 18.2)"></use>
  </svg>
</section>