

<!-- здесь карточки отличаются по верстке т.к они и в макете выглядят по другому -->


<section class="news">
  <h2 class="sectionTitle">Новости, акции, советы</h2>
  <div class="newsItem">
    <h3 class="newsTitle"><a href="#" class="newsLink">Внедрили новые стандарты работы, разработали кодекс аквамастера.</a></h3>
    <span class="newsTag">Акции</span>
    <date class="newsDate">4 октября 2019</date>
    <div class="newsImageHolder" style="background-image: url('/res/images/news1.jpg')">
      <img src="/res/images/news1.jpg" alt="" class="newsImage">
    </div>
  </div>
  <div class="newsItem">
    <h3 class="newsTitle"><a href="#" class="newsLink">Внедрили новые стандарты работы, разработали кодекс аквамастера.</a></h3>
    <span class="newsTag">Акции</span>
    <date class="newsDate">4 октября 2019</date>
    <div class="newsImageHolder" style="background-image: url('/res/images/news2.jpg')">
      <img src="/res/images/news2.jpg" alt="" class="newsImage">
    </div>
  </div>
  <div class="newsItem">
    <h3 class="newsTitle"><a href="#" class="newsLink">Внедрили новые стандарты работы, разработали кодекс аквамастера.</a></h3>
    <span class="newsTag">Акции</span>
    <date class="newsDate">4 октября 2019</date>
    <div class="newsImageHolder" style="background-image: url('/res/images/news3.jpg')">
      <img src="/res/images/news3.jpg" alt="" class="newsImage">
    </div>
  </div>
  <div class="newsItem">
    <h3 class="newsTitle"><a href="#" class="newsLink">Внедрили новые стандарты работы, разработали кодекс аквамастера.</a></h3>
    <span class="newsTag">Акции</span>
    <date class="newsDate">4 октября 2019</date>
    <div class="newsImageHolder" style="background-image: url('/res/images/news1.jpg')">
      <img src="/res/images/news1.jpg" alt="" class="newsImage">
    </div>
  </div>
</section>