.hero {
  position: relative;
  flex-shrink: 0;
  width: auto;
  height: var(--height);
  margin: 0 (-$gap);
  overflow: hidden;

  @include tx-media(wide) {
    margin: 0 (-$gap-middle);
  }

  @include tx-media(phone) {
    margin: 0 (-$gap-phone);
  }

}

.heroSlider {
  width: 100%;
  height: 100%;
  transition: .7s;
}

.heroSlide {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../images/background.png');
  background-size: cover;
}

.heroPagination {
  position: absolute;
  top: 50%;
  right: $gap;
  counter-reset: slide;
  list-style: none;

  // &:before,
  // &:after {
  //   @include tx-pseudo;
  //   left: 50%;
  //   width: 1px;
  //   height: 15px;
  //   background: white;
  // }

  // &:before {
  //   top: 20px;
  // }

  // &:after {
  //   bottom: 29px;
  // }

  @include tx-media(wide) {
    right: $gapContent-middle;
  }

  @include tx-media(phone) {
    top: auto;
    right: 20px;
    bottom: 10px;
    margin: 0;
  }

}

$heroDot-color: $white;

.js-sliderDot {
  position: relative;
  color: $heroDot-color;
  cursor: pointer;

  &:before {
    @include tx-pseudo;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid currentColor;
    border-radius: 50%;
    transform: translate(-6px, -5px);
    transition: $UITransitionDefault;
  }

  &:after {
    content: counter(slide);
    counter-increment: slide;
    opacity: 0;

    %font-BebasNeue-is-loaded & {
      @extend %font-BebasNeue;
    }

  }

  &-is-active {

    &:before {
      width: 26px;
      height: 26px;
      transform: translate(-14px, -13px);
    }

    &:after {
      opacity: 1;
    }

  }

}

$slideTitle-fontSize: 48px;
$slideTitle-default-fontSize: 32px;
$slideTitle-phone-fontSize: 37px;
$slideTitle-default-phone-fontSize: 26px;

$slideTitle-color: $white;
$slideTitle-background: rgba($blue-500, .88);

.slideTitle {
  @include tx-font-size($slideTitle-default-fontSize, none);
  position: absolute;
  bottom: 25%;
  left: $gap;
  padding: 25px 40px;
  border-radius: 25px;
  color: $slideTitle-color;
  background: $slideTitle-background;
  text-transform: uppercase;
  line-height: .95;

  &:after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 28px;
    margin: 0 0 -2px 25px;
    background: url('../images/arrow.svg');
    transition: $UITransitionDefault;
  }

  &:hover {

    &:after {
      transform: translateX(10px);
    }

  }

  %font-BebasNeue-is-loaded & {
    @extend %font-BebasNeue;
    @include tx-font-size($slideTitle-fontSize, none);

    &:after {
      margin: 0 0 2px 25px;
    }

  }

  & > a {
    @include tx-link($slideTitle-color);
    text-decoration: none;
  }

  @include tx-media(wide) {
    left: $gapContent-middle;
  }

  @include tx-media(phone) {
    @include tx-font-size($slideTitle-default-phone-fontSize, none);
    left: 0;
    bottom: 90px;
    width: 295px;
    box-sizing: border-box;
    padding: 20px 20px 15px 40px;
    border-radius: 0 25px 25px 0;
    margin-left: -20px;

    %font-BebasNeue-is-loaded & {
      @include tx-font-size($slideTitle-phone-fontSize, none);
      line-height: 1.2;

      &:after {
        margin: 0;
      }

    }

    &:after {
      display: block;
      margin: 0;
    }

  }

}

$onlineLink-fontSize: 12px;
$onlineLink-color: $white;

.onlineLink {
  @include tx-link($onlineLink-color);
  @include tx-font-size($onlineLink-fontSize, none);
  position: absolute;
  left: $gap + 60px;
  bottom: $gap;
  padding: 14px 14px 14px 30px;
  border-radius: 25px;
  border: 1px solid $onlineLink-color;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;

  @include tx-media(wide) {
    left: calc(#{$gapContent-middle} + 80px);
  }

  @include tx-media(phone) {
    bottom: 25px;
    left: $gap-phone + 70px;
  }

}

.onlineIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 20px;
  fill: currentColor;
}

$instagramLink-size: 40px;
$instagramLink-color: $white;

.instagramLink {
  position: absolute;
  bottom: $gap;
  left: $gap;
  width: $instagramLink-size;
  height: $instagramLink-size;
  border-radius: 50%;
  border: 1px solid $instagramLink-color;

  @include tx-media(wide) {
    left: $gapContent-middle;
  }

  @include tx-media(phone) {
    bottom: 25px;
    left: $gap-phone;
  }

}

.instagramIcon {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 22px;
  height: 22px;
  fill: none;
}
