<footer class="footer">
  <a href="/" class="footerLogo">
    <svg class="logoIcon">
      <use xlink:href="#spt-logo"></use>
    </svg>
  </a>
  <address class="address">Краснодар <br />
  ул.Дзержинского, 125/1</address>
  <a href="tel:+7 (909) 451-60-16" class="contactLink">+7 (909) <span class="contactLinkText">451-60-16</span>
  </a>
  <div class="legals">
    <a href="#">
      <svg class="legalIcon">
        <use xlink:href="#spt-company"></use>
      </svg>
    </a>
    <a href="/legal" class="legalLink">Юридическая <br />информация</a>
  </div>
  <nav class="siteNavigation">
    <ul class="siteNavigationList">
      <li class="siteNavItem">
        <a href="/" class="siteNavLink">Главная</a>
      </li>
      <li class="siteNavItem">
        <a href="/about" class="siteNavLink">О нас</a>
      </li>
      <li class="siteNavItem">
        <a href="/clients" class="siteNavLink">Клиентам</a>
        <ul class="siteInnerList">
          <li class="siteInnerItem">
            <a href="/service1" class="siteInnerLink">Воск</a>
          </li>
          <li class="siteInnerItem">
            <a href="/service3" class="siteInnerLink">Салон</a>
          </li>
          <li class="siteInnerItem">
            <a href="/service2" class="siteInnerLink">Чернение</a>
          </li>
          <li class="siteInnerItem">
            <a href="/service4" class="siteInnerLink">24 часа</a>
          </li>
          <li class="siteInnerItem">
            <a href="/service5" class="siteInnerLink">На карте</a>
          </li>
        </ul>
      </li>
      <li class="siteNavItem">
        <a href="/blog" class="siteNavLink">Блог</a>
        <ul class="siteInnerList">
          <li class="siteInnerItem">
            <a href="/blog" class="siteInnerLink">Статьи</a>
          </li>
          <li class="siteInnerItem">
            <a href="/blog" class="siteInnerLink">Новости</a>
          </li>
          <li class="siteInnerItem">
            <a href="/blog" class="siteInnerLink">Акции</a>
          </li>
        </ul>
      </li>
      <li class="siteNavItem">
        <a href="/investors" class="siteNavLink">Инвесторам</a>
      </li>
      <li class="siteNavItem">
        <a href="/investors" class="siteNavLink">Контакты</a>
      </li>
      <li class="siteNavItem">
        <a href="#" class="siteNavLink">Личный <br />кабинет</a>
      </li>
    </ul>
  </nav>
  <form action="http://private-41d3c9-aquaprofile.apiary-mock.com" class="feedback">
    <label for="name" class="feedbackLabel">Имя:</label>
    <input id="name" name="name" class="feedbackField" placeholder="Как вас зовут?">
    <label for="phone" class="feedbackLabel">Номер телефона:</label>
    <input type="tel" id="phone" name="phone" class="feedbackField">
    <label for="message" class="feedbackLabel">Сообщение:</label>
    <textarea name="message" id="message" class="feedbackMessage" placeholder="Напишите ваш вопрос"></textarea>
    <input type="submit" value="Отправить" class="feedbackSubmit" disabled>
  </form>
</footer>