<header class="header">
  <a href="/" class="logo">
    <svg class="logoIcon">
      <use xlink:href="#spt-logo"></use>
    </svg>
  </a>
  <nav class="navigation">
    <ul class="navigationList">
      <li>
        <a href="/about" class="navigationLink navigationLink-is-active">О нас</a>
      </li>
      <li>
        <a href="/clients" class="navigationLink">Клиентам</a>
      </li>
      <li>
        <a href="/investors" class="navigationLink">Инвесторам</a>
      </li>
      <li>
        <a href="/blog" class="navigationLink">Блог</a>
      </li>
      <li>
        <a href="/contacts" class="navigationLink">Контакты</a>
      </li>
    </ul>
  </nav>
  <button class="menuLink"><span class="menuLinkIcon"></span></button>
</header>