<section class="serviceHero" style="background-image: url('/res/images/serviceHero1.jpg')">

  <!-- на дизайне заголовки сильно отличаются по ширине.поэтому пришлось делать через классы.на этой странице класс  serviceInfo-1, на других -по номеру сервиса.по классу в стилях добавляется только ширина.так что если добавится еще страница.можно просто подставить класс из прошлых страниц.примерно подходящий. --> 

  <div class="serviceInfo serviceInfo-1">
    <h1 class="serviceHeroTitle">
      Покрытие авто воском в Краснодаре
    </h1>
    <p class="serviceDescription">
      Использование воска&nbsp;&mdash; важный элемент в&nbsp;системе правильного ухода за&nbsp;автомобилем. Жидкий воск защищает машину от&nbsp;пыли и&nbsp;влаги, придаёт ей&nbsp;блеск и&nbsp;антистатические свойства. 
    </p>
  </div>
</section>