<section class="serviceSection-3">
  <h2 class="sectionTitle">Результат нанесения воска</h2>
  <div class="serviceResults serviceResults-4">
    <p class="serviceResultText">
      Обработанный жидким воском автомобиль блестит и радует своего владельца усиленной свежестью.
    </p>
    <p class="serviceResultText">
      Автомобиль сохнет быстрее. Капли не задерживаются на кузове и не оставляют пятен после высыхания.
    </p>
    <p class="serviceResultText">
      Авто дольше остаётся чистым. Пыль и грязь меньше связываются с покрытием — увеличивается время между мойками.
    </p>
    <p class="serviceResultText">
      Покрытый воском автомобиль проще мыть: защитная плёнка удерживает микрочастицы, поэтому поры лакокрасочного покрытия не забиваются.
    </p>
  </div>
</section>