<section class="serviceSection-1">
  <h2 class="serviceTitle-1">Лучшее <br >оборудование <br>и&nbsp;химия</h2>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <div class="serviceDescription-1">
    <p>Наши посты подают жидкий воск в&nbsp;блоке управления моющими средствами на&nbsp;правом пистолете. Цена покрытия воском&nbsp;&mdash; 30&ndash;50&nbsp;рублей.</p>
    <p>Мы&nbsp;используем качественную химию от&nbsp;лучших производителей&nbsp;&mdash; поэтому клиенты добиваются заметного эффекта от&nbsp;обработки автомобиля воском.</p>
  </div>
  <img src="/res/images/serviceImage1.jpg" alt="" class="serviceImage-1">
</section>