<section class="serviceSection-3">
  <h2 class="sectionTitle">Результат нанесения&nbsp;воска</h2>
  <div class="serviceResults serviceResults-4">
    <p class="serviceResultText">Обработанный жидким воском автомобиль блестит и&nbsp;радует своего владельца усиленной свежестью.</p>
    <p class="serviceResultText">Автомобиль сохнет быстрее. Капли не&nbsp;задерживаются на&nbsp;кузове и&nbsp;не&nbsp;оставляют пятен после высыхания.</p>
    <p class="serviceResultText">Авто дольше остаётся чистым. Пыль и&nbsp;грязь меньше связываются с&nbsp;покрытием&nbsp;&mdash; увеличивается время между мойками.</p>
    <p class="serviceResultText">Покрытый воском автомобиль проще мыть: защитная плёнка удерживает микрочастицы, поэтому поры лакокрасочного покрытия не&nbsp;забиваются.</p>
  </div>
</section>