<section class="serviceSection-2" style="background-image: url('/res/images/serviceBackground1.jpg')">
  <h2 class="serviceTitle-2">Нанесение воска <br>на автомобиль</h2>
  <div class="serviceDescription-2">
    <p>Используйте воск только после мойки кузова губкой (иначе состав &laquo;законсервирует&raquo; грязь). В&nbsp;соответствии с&nbsp;нашей технологией мы&nbsp;покрываем автомобиль жидким воском на&nbsp;последнем этапе мойки. Состав выдерживать не&nbsp;нужно&nbsp;&mdash; сразу ополаскивайте осмосом.</p>
  </div>
</section>