<section class="filterSection" data-url="http://private-2935ac-aquablog.apiary-mock.com">
  <h1 class="sectionTitle">Только важное об автомобилях</h1>
  <div class="filter">
    <div class="filterCategories">
      <input type="radio" id="all" name="category" value="all" class="filterItem js-filterItem" checked>
      <label for="all" class="filterItemLabel">Все сразу</label>
      <input type="radio" id="article" name="category" value="article" class="filterItem js-filterItem">
      <label for="article" class="filterItemLabel">Статьи</label>
      <input type="radio" id="news" name="category" value="news" class="filterItem js-filterItem">
      <label for="news" class="filterItemLabel">Новости</label>
      <input type="radio" id="sale" name="category" value="sale" class="filterItem js-filterItem">
      <label for="sale" class="filterItemLabel">Акции</label>
    </div>
    <form action="#" class="search">
      <input class="searchField">
      <svg class="searchIcon" viewBox="0 0 22 22">
        <path d="M16.9698 13.5631L21.8281 18.4832C22.0573 18.7123 22.0573 19.0789 21.8281 19.3137L19.3474 21.8224C19.2385 21.937 19.0839 22 18.9292 22C18.7745 22 18.6198 21.9313 18.5109 21.8224L13.6755 16.9196C12.2661 17.7615 10.6849 18.2026 9.08646 18.2026C4.07917 18.2026 0 14.1187 0 9.10128C0 4.08383 4.07917 0 9.08646 0C14.0938 0 18.1729 4.08383 18.1729 9.10128C18.1729 10.6477 17.7604 12.1828 16.9698 13.5631ZM14.6323 9.10128C14.6323 6.03697 12.1458 3.54543 9.08646 3.54543C6.02708 3.54543 3.54063 6.03697 3.54063 9.10128C3.54063 12.1656 6.02708 14.6571 9.08646 14.6571C12.1458 14.6571 14.6323 12.1656 14.6323 9.10128Z" fill="#FAC76E"/>
      </svg>
    </form>
  </div>
  <div class="articlesType articlesType-is-hidden">
    <input type="checkbox" id="1" name="theme" value="0" class="articleType js-filterItem" checked>
    <label class="articleTypeLabel" for="1">Мойка
    </label>
    <input type="checkbox" id="2" name="theme" value="1" class="articleType js-filterItem" checked>
    <label class="articleTypeLabel" for="2">Технологии
    </label>
    <input type="checkbox" id="3" name="theme" value="2" class="articleType js-filterItem" checked>
    <label class="articleTypeLabel" for="3">Авторынок
    </label>
    <input type="checkbox" id="4" name="theme" value="3" class="articleType js-filterItem" checked>
    <label class="articleTypeLabel" for="4">Закон
    </label>
    <input type="checkbox" id="5" name="theme" value="4" class="articleType js-filterItem" checked>
    <label class="articleTypeLabel" for="5">Бизнес
    </label>
  </div>
</section>