<article class="article">
  <h1>Опасная бесконтактность: губят авто не губки</h1>
  <a href="/blog" class="articleBackLink">Назад к статьям</a>
  <p>
    <b>Пожалуй, самая обсуждаемая тема среди автовладельцев — как мыть машину без разводов и царапин? Мойку губками сейчас настойчиво вытесняет бесконтактная мойка, которая призвана деликатно убирать грязь без механического воздействия на лакокрасочное покрытие.</b>
  </p>
  <p>
    Но в бесконтактности кроется опасность, которую тщательно замалчивают производители автохимии и владельцы бесконтактных моек. Мы изучили позиции разных игроков автоиндустрии и решили поделиться любопытной информацией с теми, кому не безразличен уход за машиной. В этой статье мы развеем миф о том, что губки царапают автомобиль, и докажем, что бесконтактная мойка машины — изобретение для того, чтобы зарабатывать, а не беречь покрытие кузова.
  </p>
  <div class="imageHolder" style="background-image: url('https://picsum.photos/800/600');" data-text="Фото Дарьи Фильковой, 2019 год.">
    <img src="https://picsum.photos/800/600" alt="" class="articleImage">
  </div>
  <h2>Чем опасна бесконтактная мойка</h2>
  <p>
    Производитель популярной активной пены для бесконтактной мойки Grass обещает: «Средство без труда удаляет дорожную пыль, грязь, масло, следы от насекомых. Придает блеск, не причиняет вреда лакокрасочной поверхности. Смывайте водой под высоким давлением с близкого расстояния (10-20 см) снизу вверх». Казалось бы — всё просто, достаточно просто смыть. А как же песок, который аппарат выбивает с колодок кузов? А высокое давление на близком расстоянии, которое разрывает резинку? Но обо всём по-порядку.
  </p>
  <blockquote>
    <p>При кажущейся деликатности и эффективности бесконтакт очень агрессивен. Во-первых, от щёлочи в составе химии портится хромированный декор. Пена легко проникает в такие места, откуда ее потом никак не выгнать, и там разъедает то, что должна была привести в порядок. Для некоторых автомобилей достаточно одного сеанса на бесконтактной мойке, чтобы их пластик испортился, а хром помутнел.</p>
    <p>Во-вторых, даже лучший шампунь для бесконтактной мойки никогда не отмоет статическую грязь (с этим справится только губка). Получается, на кузове после агрессивной обработки химией всё равно остаются частицы грязи. Мойщики вытирают машину полотенцами — вот и царапины. А если просто высушить машину без протирки, вы обязательно увидите белый налёт: свидетельство высокощелочного состава автохимии.</p> 
    <p>В третьих, чтобы быстрее справиться с грязью, на некоторых бесконтактных мойках аппарат подаёт чрезмерно мощную струю воды: до 220 бар при безопасном давлении при мойке машины не выше 160 бар. Отсюда выбитые заглушки и повреждённые резинки уплотнителей.</p>
  </blockquote>
  <p>
    <b>Вывод один: бесконтактная мойка — быстро и дёшево для клиентов, губительно для машины и очень выгодно для владельцев автомоек: ведь не нужно набирать дополнительный персонал для качественной и бережной мойки, легче создать видимость чистоты.</b>
  </p>
  <div class="imageHolder" style="background-image: url('https://picsum.photos/850/650');" data-text="Фото Дарьи Фильковой, 2019 год.">
    <img src="https://picsum.photos/850/650" alt="" class="articleImage">
  </div>
</article>