.filterSection {
  padding: 150px 0 45px;

  @include tx-media(wide) {
    padding: 150px calc(#{$gapContent-middle} + 40px) 50px;
    margin: 0 (-$gap-middle);
  }

  @include tx-media(phone) {
    padding: 80px 0 40px;
  }

}

$filter-background: $blue-100;

.filter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: $filter-background;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 0 20px 0 35px;

  @include tx-media(tablet) {
    position: relative;
    width: 600px;
    padding: 0;
    margin: 100px auto 0;
    justify-content: center;
  }

  @include tx-media(phone) {
    position: relative;
    height: auto;
    width: 50%;
    background: none;
    border-radius: 0;
    margin: 100px 20px 0 0;
  }

}

$filterCategories-border: rgba($gray-100, .3);

.filterCategories {
  width: 455px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $filterCategories-border;

  @include tx-media(phone) {
    flex-direction: column;
    border: none;
    box-sizing: border-box;
    padding: 0 0 0 20px;
  }

}

$filterItemLabel-color: $blue-500;
$filterItemLabel-fontSize: 16px;
$filterItemLabel-phone-fontSize: 20px;
$filterItemLabel-borderColor: rgba($blue-400, .6);

.filterItemLabel {
  position: relative;
  @include tx-link($filterItemLabel-color);
  @include tx-font-size($filterItemLabel-fontSize, none);
  font-weight: 500;
  padding: 0 0 5px;

  &:before,
  &:after {
    @include tx-pseudo;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &:before {
    height: 3px;
    background: currentColor;
    opacity: 0;
  }

  %filterItem-is-checked + & {

    &:before {
      opacity: 1;
    }

    &:after {
      opacity: 0;
    }

  }

  @include tx-media(phone) {
    @include tx-font-size($filterItemLabel-phone-fontSize, none);
    align-self: flex-start;
    margin: 0 0 30px;

    &:after {
      border-bottom: 2px dashed $filterItemLabel-borderColor;
    }

  }

}

.filterItem {
  position: absolute;
  left: -10000px;

  &:checked {
    @extend %filterItem-is-checked;
  }

}

.search {
  position: relative;
  margin: 0 0 0 auto;

  @include tx-media(tablet) {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin: 0 0 0 -150px;
    transform: translateY(-25px);
  }

  @include tx-media(phone) {
    left: 100%;
    margin: 0 0 0 -140px;
  }

}

$searchField-background: $blue-50;
$searchField-border: $blue-250;

.searchField {
  width: 305px;
  height: 46px;
  border-radius: 23px;
  background: $searchField-background;
  border: 1px solid $searchField-border;
  padding: 0 20px;
  box-sizing: border-box;

  @include tx-media(tablet) {
    width: 300px;
  }

  @include tx-media(tablet) {
    width: 280px;
  }

}

$searchIcon-size: 22px;

.searchIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: $searchIcon-size;
  height: $searchIcon-size;
  margin: ($searchIcon-size / -2) 0 0;
}

$articlesType-background: $blue-100;

.articlesType {
  display: flex;
  justify-content: space-between;
  width: 710px;
  margin: 45px auto 0;

  &-is-hidden {
    display: none;
  }

  @include tx-media(tablet) {
    width: 590px;
  }

  @include tx-media(phone) {
    position: absolute;
    top: 200px;
    left: 50%;
    width: auto;
    padding: 20px 15px 0 10px;
    flex-direction: column;
    background: $articlesType-background;
    border-radius: 9px;
  }

}

$articleTypeLabel-fontSize: 13px;
$articleTypeLabel-phone-fontSize: 15px;
$articleTypeCheckbox-color: rgba($blue-500, .5);

.articleTypeLabel {
  position: relative;
  @include tx-font-size($articleTypeLabel-fontSize, none);
  font-weight: 300;
  padding: 0 0 0 40px;

  &:before,
  &:after {
    @include tx-pseudo;
    top: 50%;
    left: 0;
    margin: -10px 0 0;
  }

  &:before {
    width: 16px;
    height: 16px;
    border: 2px solid $articleTypeCheckbox-color;
    border-radius: 2px;
  }

  &:after {
    width: 20px;
    height: 20px;
    opacity: 0;
    background: url('../images/checkbox.png');
    background-size: cover;
  }

  %articleType-is-checked + & {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }

  }

  @include tx-media(phone) {
    @include tx-font-size($articleTypeLabel-phone-fontSize, none);
    margin: 0 0 20px;
    padding: 0 0 0 30px;
  }

}

.articleType {
  position: absolute;
  left: -10000px;

  &:checked {
    @extend %articleType-is-checked;
  }

}
