<section class="serviceSection-1">
  <h2 class="serviceTitle-1">Работаем <br> круглосуточно</h2>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <div class="serviceDescription-1">
    <p>Наша автомойка работает 24 часа в сутки, без перерывов и выходных, летом и зимой.</p>
    <p>Средняя цена мойки машины — 300 рублей. А ночью действует скидка 20%: чтобы сэкономить, приезжайте с 2:00 до 8:00.</p>
  </div>
  <img src="/res/images/serviceImage5.jpg" alt="" class="serviceImage-1">
</section>