<section class="serviceSection-2" style="background-image: url('/res/images/serviceBackground2.jpg')">
  <h2 class="serviceTitle-2">О нас</h2>
  <div class="serviceDescription-2">
    <p>Мы работаем для тех, кому мало смыть грязь на ближайшей мойке самообслуживания и тех, кто не готов к высоким ценам за мойку в закрытом боксе.</p>
    <p>Для тех, кто ценит чистоту, порядок и лучший результат. Качество профессиональной мойки — только быстрее, дешевле и главное: с любовью к машине.</p>
  </div>
</section>