<section class="legalTabs legalTabs-1-is-active js-tabsHolder">
  <h1 class="sectionTitle">
    ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ
  </h1>
  <ul class="legalList">
    <li class="legalItem">

      <!-- data-index нужен в js для переключения табов -->

      <a href="#" data-index="1" class="legalNavLink js-tab legalNavLink-is-active">Политика конфиденциальности</a>
    </li>
    <li class="legalItem">
      <a href="#" data-index="2" class="legalNavLink js-tab">Согласие на обработку персональных данных</a>
    </li>
    <li class="legalItem">
      <a href="#" data-index="3" class="legalNavLink js-tab">Политика в отношении файлов cookie</a>
    </li>
  </ul>
  <div class="tabContent tabContent-1">
    <p>Настоящая политика описывает типы собираемой нами информации и&nbsp;принципы ее&nbsp;использования.</p>
    <p><b>1. Общие положения</b></p>
    <p>Настоящая политика обработки персональных данных составлена в&nbsp;соответствии с&nbsp;требованиями Федерального закона от&nbsp;<nobr>27.07.2006</nobr>. &#8470;&nbsp;<nobr>152-ФЗ</nobr> &laquo;О&nbsp;персональных данных&raquo; и&nbsp;определяет порядок обработки персональных данных и&nbsp;меры по&nbsp;обеспечению безопасности персональных данных <nobr>ООО &laquo;Аквастенд&raquo;</nobr> (далее&nbsp;&mdash; Оператор).</p>
    <p><b>2. Оператор может обрабатывать следующие персональные данные Пользователя:</b></p>
    <p>Фамилия, имя, отчество;<br />
    Электронный адрес;<br />
    Номер телефона;<br />
    Также на&nbsp;сайте происходит сбор и&nbsp;обработка обезличенных данных о&nbsp;посетителях (<nobr>в т. ч.</nobr> файлов &laquo;cookie&raquo;) с&nbsp;помощью сервисов <nobr>интернет-статистики</nobr> (Яндекс Метрика и&nbsp;Гугл Аналитика и&nbsp;других).<br />
    Вышеперечисленные данные далее по&nbsp;тексту Политики объединены общим понятием Персональные данные.</p>
    <p><b>3. Зачем мы&nbsp;обрабатываем персональные данные</b></p>
    <p>Цель обработки персональных данных Пользователя&nbsp;&mdash; информирование Пользователя посредством отправки электронных писем и&nbsp;установление с&nbsp;Пользователем обратной связи для оказания услуг.<br />
    Оператор имеет право направлять Пользователю уведомления о&nbsp;новых продуктах и&nbsp;услугах, специальных предложениях и&nbsp;различных событиях.<br />
    Обезличенные данные Пользователей, собираемые с&nbsp;помощью сервисов <nobr>интернет-статистики</nobr>, служат для сбора информации о&nbsp;действиях Пользователей на&nbsp;сайте, улучшения качества сайта и&nbsp;его содержания.</p>
    <p><b>4. Правовые основания обработки персональных данных</b></p>
    <p>Оператор обрабатывает персональные данные Пользователя только в&nbsp;случае их&nbsp;заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на&nbsp;сайте <a href="http://akvastend.ru.">http://akvastend.ru.</a> Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с&nbsp;данной Политикой.<br />
    Оператор обрабатывает обезличенные данные о&nbsp;Пользователе в&nbsp;случае, если это разрешено в&nbsp;настройках браузера Пользователя (включено сохранение файлов &laquo;cookie&raquo; и&nbsp;использование технологии JavaScript).</p>
    <p><b>5. Порядок сбора, хранения, передачи и&nbsp;других видов обработки персональных данных</b></p>
    <p>Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и&nbsp;технических мер, необходимых для выполнения в&nbsp;полном объеме требований действующего законодательства в&nbsp;области защиты персональных данных.<br />
    Оператор обеспечивает сохранность персональных данных и&nbsp;принимает все возможные меры, исключающие доступ к&nbsp;персональным данным неуполномоченных лиц.<br />
    Персональные данные Пользователя никогда, ни&nbsp;при каких условиях не&nbsp;будут переданы третьим лицам, за&nbsp;исключением случаев, связанных с&nbsp;исполнением действующего законодательства.<br />
    В&nbsp;случае выявления неточностей в&nbsp;персональных данных, Пользователь может актуализировать их&nbsp;самостоятельно, путем направления Оператору уведомления на&nbsp;адрес электронной почты Оператора <a href="mailto:info@akvastend.ru">info@akvastend.ru</a> с&nbsp;пометкой &laquo;Актуализация персональных данных&raquo;.<br />
    Срок обработки персональных данных является неограниченным. Пользователь может в&nbsp;любой момент отозвать свое согласие на&nbsp;обработку персональных данных, направив Оператору уведомление посредством электронной почты на&nbsp;электронный адрес Оператора <a href="mailto:info@akvastend.ru">info@akvastend.ru</a> с&nbsp;пометкой &laquo;Отзыв согласия на&nbsp;обработку персональных данных&raquo;.<br /></br>
    <b>6. Трансграничная передача персональных данных</b></p>
    <p>Оператор до&nbsp;начала осуществления трансграничной передачи персональных данных обязан убедиться в&nbsp;том, что иностранным государством, на&nbsp;территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.<br />
    Трансграничная передача персональных данных на&nbsp;территории иностранных государств, не&nbsp;отвечающих вышеуказанным требованиям, может осуществляться только в&nbsp;случае наличия согласия в&nbsp;письменной форме субъекта персональных данных на&nbsp;трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.</p>
  </div>
  <div class="tabContent tabContent-2">
    <p>Настоящим я, далее&nbsp;&mdash; &laquo;Субъект Персональных Данных&raquo;, во&nbsp;исполнение требований Федерального закона от&nbsp;<nobr>27.07.2006 г.</nobr> &#8470;&nbsp;<nobr>152-ФЗ</nobr> &laquo;О&nbsp;персональных данных&raquo; (с&nbsp;изменениями и&nbsp;дополнениями) даю свое согласие Обществу с&nbsp;ограниченной ответственностью &laquo;Аквастенд&raquo; (далее&nbsp;&mdash; &laquo;Администрация Сайта&raquo;, адрес: (350039, Россия, Краснодарский край, Краснодар г., ул.&nbsp;Черкасская, д.71, кв.15) на&nbsp;обработку своих персональных данных, которые указываю при заполнении <nobr>веб-формы</nobr> на&nbsp;сайте akvastend.ru (далее&nbsp;&mdash; Сайт).</p>
    <p>Под персональными данными я&nbsp;понимаю информацию, относящуюся ко&nbsp;мне как к&nbsp;Субъекту Персональных Данных: это мои фамилия, имя, отчество, номер телефона, электронная почта и&nbsp;любая другая информация, которую я&nbsp;посчитаю нужным сообщить.</p>
    <p>Под обработкой персональных данных я&nbsp;понимаю сбор, систематизацию, накопление, уточнение, обновление, изменение, использование, распространение, передачу, в&nbsp;том числе трансграничную, обезличивание, блокирование, уничтожение, бессрочное хранение, и&nbsp;любые другие действия с&nbsp;персональными данными.<br />
    Обработка персональных данных осуществляется исключительно в&nbsp;целях информирования Пользователя посредством отправки электронных писем и&nbsp;установления с&nbsp;Пользователем обратной связи для оказания услуг.<br />
    Датой выдачи согласия на&nbsp;обработку персональных данных Субъекта Персональных Данных является дата отправки <nobr>веб-формы</nobr> с&nbsp;Сайта.<br />
    Обработка персональных данных Субъекта Персональных Данных может осуществляться с&nbsp;помощью средств автоматизации и/или без использования средств автоматизации в&nbsp;соответствии с&nbsp;действующим законодательством РФ&nbsp;и&nbsp;внутренними положениями Администрации Сайта.</p>
    <p>Администрация Сайта принимает необходимые правовые, организационные и&nbsp;технические меры или обеспечивает их&nbsp;принятие для защиты персональных данных от&nbsp;неправомерного или случайного доступа к&nbsp;ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а&nbsp;также от&nbsp;иных неправомерных действий в&nbsp;отношении персональных данных, а&nbsp;также принимает на&nbsp;себя обязательство сохранения конфиденциальности персональных данных Субъекта Персональных Данных.</p>
    <p>Я&nbsp;ознакомлен(а), что:</p>
    <p>1. Обработка моих персональных данных осуществляется законным способом без ограничения срока.</p>
    <p>2. Согласие может быть отозвано мною в&nbsp;любой момент при направлении Оператору Сайта уведомления на&nbsp;электронный адрес <a href="mailto:info@akvastend.ru">info@akvastend.ru</a> с&nbsp;пометкой &laquo;Отзыв согласия на&nbsp;обработку персональных данных&raquo;.</p>
    <p>3. Предоставление персональных данных третьих лиц без их&nbsp;согласия влечет ответственность в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации.</p>
  </div>
  <div class="tabContent tabContent-3">
    <p>Мы&nbsp;используем файлы cookie, которые улучшают качество взаимодействия с&nbsp;нашим сайтом. Каждый раз, когда вы&nbsp;повторно посещаете наш сайт, ваш браузер посылает нам эти фрагменты информации, чтобы мы&nbsp;могли настроить интерфейс под ваши интересы и&nbsp;предпочтения или&nbsp;же облегчить вход в&nbsp;учетную запись для использования наших услуг.</p>
    <p>Если вы&nbsp;не&nbsp;хотите принимать постоянные файлы cookie, выберите соответствующие настройки на&nbsp;своем компьютере. Продолжая навигацию по&nbsp;сайту, вы&nbsp;косвенно предоставляете свое согласие на&nbsp;использование файлов cookie.</p>
  </div>
</section>
