// White

$white-100: #fff;

$white: $white-100;



// Black

$black-500: #24292e;
$black-600: #26303f;
$black-700: #222;
$black-800: #1c232d;
$black-900: #000;

$black: $black-900;



// Gray

$gray-50: #f7f7f7;
$gray-75: #e7e7e7;
$gray-100: #b1b1b1;
$gray-300: #ccc;
$gray-400: #888;
$gray-500: #979797;
$gray-700: #202934;
$gray-800: #333;
$gray-900: #111;

$gray: $gray-500;


// Blue

$blue-50: #f8fcff;
$blue-100: #f0f9ff;
$blue-150: #dcebfa;
$blue-200: #8eb7e0;
$blue-250: #cad9e3;
$blue-300: #1376da;
$blue-350: #b7cfdf;
$blue-400: #2370be;
$blue-450: #4d76a1;
$blue-500: #0A5FB6;
$blue-600: #6aa9e8;
$blue-700: #0D2A72;
$blue-900: #051f61;

$blue: $blue-500;

// Yellow

$yellow-500: #fac76e;

$yellow: $yellow-500;


// Orange

$orange-500: #ff1600;
$orange-900: #e03d12;

$orange: $orange-500;

// Green

$green-100: #9ff26b;
$green-300: #77eb67;
$green-500: #29cc5f;
$green-700: #39ad6f;
$green-900: #298a73;

$green: $green-500;



// Social Networks

$facebookColor: #3b5998;
$twitterColor: #0084b4;
$vkColor: #507299;
$okColor: #ee8208;
$instagramColor: #8a3ab9;
$youTubeColor: #e52d27;
