.serviceHero {
  margin: 0 (-$gap);
  padding: 145px 0 125px;
  background-size: cover;

  @include tx-media(wide) {
    margin: 0 (-$gap-middle);
  }

  @include tx-media(phone) {
    display: flex;
    align-items: flex-end;
    padding: 290px 0 0;
    margin: 0 (-$gap-phone);
  }

}

$serviceInfo-background: rgba($blue-500, .88);

.serviceInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: $serviceInfo-background;
  border-radius: 25px;
  box-sizing: border-box;

  &-1 {
    width: 680px;
    padding: 30px 40px 40px;
  }

  &-2 {
    width: 680px;
    padding: 30px 60px 45px;
  }

  &-3 {
    width: 680px;
    padding: 30px 105px 45px;
  }

  &-4 {
    width: 755px;
    padding: 30px 30px 45px;
  }

  &-5 {
    width: 640px;
    padding: 30px 55px 40px;
  }

  @include tx-media(phone) {
    width: 100%;
    padding: 35px 20px;
    border-radius: 0;
  }

}

$serviceHeroTitle-color: $white;
$serviceHeroTitle-fontSize: 48px;
$serviceHeroTitle-default-fontSize: 32px;
$serviceHeroTitle-phone-fontSize: 37px;
$serviceHeroTitle-default-phone-fontSize: 22px;

.serviceHeroTitle {
  @include tx-font-size($serviceHeroTitle-default-fontSize, none);
  color: $serviceHeroTitle-color;
  margin: 0 0 10px;
  text-align: center;

  %font-BebasNeue-is-loaded & {
    @extend %font-BebasNeue;
    @include tx-font-size($serviceHeroTitle-fontSize, none);
    line-height: .95;
  }

  @include tx-media(phone) {
    @include tx-font-size($serviceHeroTitle-default-phone-fontSize, none);

    %font-BebasNeue-is-loaded & {
      @include tx-font-size($serviceHeroTitle-phone-fontSize, none);
    }

  }

}

$serviceDescription-color: $yellow;
$serviceDescription-fontSize: 14px;

.serviceDescription {
  @include tx-font-size($serviceDescription-fontSize, none);
  color: $serviceDescription-color;
  text-align: center;
  margin: 0;

  @include tx-media(phone) {
    width: 100%;
  }

}
