<section class="serviceSection-4">
  <h2 class="sectionTitle">Отзывы клиентов о покрытии воском</h2>
  <div class="comments">
    <div class="comment">
      <a href="#" class="commentName">Дмитрий Собакин
        <img src="/res/images/vk.png" alt="" class="commentIcon">
      </a>
      <span class="commentDate">04.09.2019</span>
      <p class="commentText">
        Поэтому мы разработали оригинальное эргономичное оборудование, в котором все необходимое для ухода за вашим автомобилем было буквально под рукой. Теперь все от инвентаря до оборудования для чернения всегда в полуметре от вас.
      </p>
      <img src="/res/images/comment1.jpg" alt="" class="commentImage">
    </div>
    <div class="comment">
      <a href="#" class="commentName">Анатолий Уточкин
        <img src="/res/images/instagram.png" alt="" class="commentIcon"></a>
      <span class="commentDate">04.09.2019</span>
      <p class="commentText">
        Поэтому мы разработали оригинальное эргономичное оборудование, в котором все необходимое для ухода за вашим автомобилем было буквально под рукой. Теперь все от инвентаря до оборудования для чернения всегда в полуметре от вас.
      </p>
      <img src="/res/images/comment2.jpg" alt="" class="commentImage">
    </div>
  </div>
</section>