<section class="serviceSection-3">
  <h2 class="sectionTitle">Оборудование для мойки салона</h2>
  <div class="serviceResults serviceResults-3">
    <p class="serviceResultText">
      Мощный пылеводосос для обивки, ковриков, багажника, панелей и труднодоступных мест. Пропылесосить вам поможет аквастендист — на каждой стороне для автомобиля своё оборудование.
    </p>
    <p class="serviceResultText">
      Мы поможем вывести пятна с сидений качественной химией и «Торнадором». С помощью давления и вихревого потока он уберёт любое пятно в машине: жвачку, кофе, губную помаду.
    </p>
    <p class="serviceResultText">
      Шины защищены от ультрафиолетового излучения, поэтому резина медленнее выгорает на солнце.
    </p>
  </div>
</section>