<section class="serviceSection-1">
  <h2 class="serviceTitle-1">Чистка салона <br> за 10 минут</h2>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <div class="serviceDescription-1">
    <p>Мы разработали специальные «линкоры» — оборудование для комплексной уборки и чистки салона по доступным ценам.</p>
    <p>В двух шагах от вас вода, салфетки, пылесос, «Торнадор», урна, обдув, чернение — инвентарь для полноценной уборки внутри машины, которая занимает всего 10 минут.</p>
  </div>
  <img src="/res/images/serviceImage3.jpg" alt="" class="serviceImage-1">
</section>