<section class="serviceSection-2" style="background-image: url('/res/images/serviceBackground5.jpg')">
  <h2 class="serviceTitle-2">Как чернить шины</h2>
  <div class="serviceDescription-2">
    <p>Колёса нужно тщательно вымыть и высушить так, чтобы вода не осталась в протекторе. Затем нанести на резину специальную краску и вытереть диски, если они случайно испачкались.</p>
    <p>Самостоятельная обработка шин на нашей мойке обходится гораздо дешевле, чем при посещении СТО — но эффект от чернения не менее впечатляющий.</p>
  </div>
</section>