<section class="serviceSection-2" style="background-image: url('/res/images/serviceBackground5.jpg')">
  <h2 class="serviceTitle-2">Как чернить шины</h2>
  <div class="serviceDescription-2">
    <p>Колёса нужно тщательно вымыть и&nbsp;высушить так, чтобы вода не&nbsp;осталась в&nbsp;протекторе. Затем нанести на&nbsp;резину специальную краску и&nbsp;вытереть диски, если они случайно испачкались.</p>
    <p>Самостоятельная обработка шин на&nbsp;нашей мойке обходится гораздо дешевле, чем при посещении СТО&nbsp;&mdash; но&nbsp;эффект от&nbsp;чернения не&nbsp;менее впечатляющий.</p>
  </div>
</section>