<section class="serviceSection-1">
  <h2 class="serviceTitle-1">Лучшее <br >оборудование <br>и состав</h2>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <div class="serviceDescription-1">
    <p>Устройство для чернения колёс находится в&nbsp;нашей зоне сухой уборки. Пистолет для распыления чернителя автоматически дозирует раствор и&nbsp;позволяет нанести состав, не&nbsp;пачкая руки краской.</p>
    <p>Мы&nbsp;используем для чернения покрышек сертифицированный раствор на&nbsp;водной основе, который абсолютно безопасен для шин.</p>
  </div>
  <img src="/res/images/serviceImage2.jpg" alt="" class="serviceImage-1">
</section>