<section class="serviceSection-3">
  <h2 class="sectionTitle">Результат чернения резины</h2>
  <div class="serviceResults serviceResults-6">
    <p class="serviceResultText">
      Покрышки приобретают яркий чёрный цвет — простой способ освежить эстетический вид машины.
    </p>
    <p class="serviceResultText">
      Покрытие предотвращает старение и быстрый износ колёс автомобиля, защищает резину от растрескивания.
    </p>
    <p class="serviceResultText">
      Шины защищены от ультрафиолетового излучения, поэтому резина медленнее выгорает на солнце.
    </p>
    <p class="serviceResultText">
      Состав придаёт шинам водоотталкивающий эффект и антистатические свойства — грязь и пыль меньше притягиваются к колесам машины.
    </p>
    <p class="serviceResultText">
      Слой бережёт резину от химических реагентов, которые используются, чтобы очистить дорогу от снега.
    </p>
    <p class="serviceResultText">
      Цена на чернение резины ниже, чем новые покрышки. Если проводить процедуру регулярно, колёса прослужат долго.
    </p>
  </div>
</section>