<section class="serviceSection-3">
  <h2 class="sectionTitle">Результат чернения резины</h2>
  <div class="serviceResults serviceResults-6">
    <p class="serviceResultText">Покрышки приобретают яркий чёрный цвет&nbsp;&mdash; простой способ освежить эстетический вид машины.</p>
    <p class="serviceResultText">Покрытие предотвращает старение и&nbsp;быстрый износ колёс автомобиля, защищает резину от&nbsp;растрескивания.</p>
    <p class="serviceResultText">Шины защищены от&nbsp;ультрафиолетового излучения, поэтому резина медленнее выгорает на&nbsp;солнце.</p>
    <p class="serviceResultText">Состав придаёт шинам водоотталкивающий эффект и&nbsp;антистатические свойства&nbsp;&mdash; грязь и&nbsp;пыль меньше притягиваются к&nbsp;колесам машины.</p>
    <p class="serviceResultText">Слой бережёт резину от&nbsp;химических реагентов, которые используются, чтобы очистить дорогу от&nbsp;снега.</p>
    <p class="serviceResultText">Цена на&nbsp;чернение резины ниже, чем новые покрышки. Если проводить процедуру регулярно, колёса прослужат долго.</p>
  </div>
</section>