<nav class="clientsNav">
  <ul class="clientsNavList">
    <li class="clientsNavItem"><a href="/serivce4" class="clientsNavLink">Автомойка</a></li>
    <li class="clientsNavItem"><a href="/service1" class="clientsNavLink">Воск</a></li>
    <li class="clientsNavItem"><a href="/service3" class="clientsNavLink">Салон</a></li>
    <li class="clientsNavItem"><a href="/service5" class="clientsNavLink">Химчистка</a></li>
    <li class="clientsNavItem"><a href="/service2" class="clientsNavLink">Чернение</a></li>
  </ul>
</nav>
