<section class="progressSection">
  <h2 class="sectionTitle">Когда вернуться на автомойку</h2>
  <div class="progressImageHolder progressImageHolder-0-is-active">
    <img src="/res/images/5day.jpg" alt="" class="progressImage progressImage-1">
    <img src="/res/images/7day.jpg" alt="" class="progressImage progressImage-2">
    <img src="/res/images/10day.jpg" alt="" class="progressImage progressImage-3">
    <img src="/res/images/14day.jpg" alt="" class="progressImage progressImage-4">
  </div>
  <div class="progress">
    <span class="progressBar"></span>
    <button class="progressButton"></button>
  </div>
  <div class="progressSteps">
    <div class="progressStep">
      <a href="#" class="progressDays js-progressLink" data-step="0">5 дней</a>
      <p class="progressText">10-15 минут —
        <br />экспресс-мойка
        <br />с пеной</p>
    </div>
    <div class="progressStep">
      <a href="#" class="progressDays js-progressLink" data-step="1">7 дней</a>
      <p class="progressText">
        20 минут,
        <br />чтобы  помыть
        <br />с пеной дважды
      </p>
    </div>
    <div class="progressStep">
      <a href="#" class="progressDays js-progressLink" data-step="2">10 дней</a>
      <p class="progressText">
        25 минут, чтобы помыть кузов и&nbsp;навести порядок в&nbsp;салоне
      </p>
    </div>
    <div class="progressStep">
      <a href="#" class="progressDays js-progressLink" data-step="3">14 дней</a>
      <p class="progressText">более 30 минут, чтобы тщательно вымыть кузов&nbsp;убрать в&nbsp;салоне</p>
    </div>
  </div>
</section>