<section class="clients-1">
  <h2 class="sectionTitle">Вы полюбите заботу <br />об&nbsp;автомобиле. Точно</h2>
  <span class="clientsTag">Мойка авто в Краснодаре</span>
  <p class="clientsDescription-1">
    Нашим гостям недостаточно смыть грязь на&nbsp;ближайшей мойке. Мы&nbsp;работаем для тех, кто ценит чистоту, порядок и&nbsp;выдающийся результат во&nbsp;всем. Качество профессиональной мойки&nbsp;&mdash; но&nbsp;невысокая стоимость, быстрый процесс и&nbsp;вдохновляющая атмосфера.
  </p>
  <div class="reasons">
    <div class="reason">
      <span class="reasonCount">24/7</span>
      <span class="reasonDetail">чисто</span>
      <p class="reasonDescription">
        Работаем круглосуточно
      </p>
    </div>
    <div class="reason">
      <span class="reasonCount">25</span>
      <span class="reasonDetail">минут</span>
      <p class="reasonDescription">
        Среднее время на&nbsp;мойку и&nbsp;уборку&nbsp;салона
      </p>
    </div>
    <div class="reason">
      <span class="reasonCount">350</span>
      <span class="reasonDetail">рублей</span>
      <p class="reasonDescription">
        Средняя цена мойки
      </p>
    </div>
    <div class="reason">
      <span class="reasonCount">5+6</span>
      <span class="reasonDetail">постов</span>
      <p class="reasonDescription">
        11 постов для&nbsp;мойки и&nbsp;уборки
      </p>
    </div>
  </div>
</section>