<section class="clients-4">
  <h2 class="sectionTitle">
    Мойте быстрее и качественнее
  </h2>
  <p class="clientsDescription-4">
    Полноценная мойка и&nbsp;уборка салона с&nbsp;аквастендистом займут около 25&nbsp;минут&nbsp;&mdash; в&nbsp;зависимости от&nbsp;загрязнения авто
  </p>
  <img src="/res/images/schema.svg" alt="" class="clientsImage-4">
  <div class="clientsTips-1">
    <h3 class="clientsTipsTitle">
      Зона сухой уборки
    </h3>
    <p class="clientsTipsText">
      Всё для качественной уборки в&nbsp;двух шагах: вода, ветошь, пылесос, торнадор, урна, обдув, чернение
    </p>
  </div>
  <div class="clientsTips-2">
    <h3 class="clientsTipsTitle">
      Зона мойки
    </h3>
    <p class="clientsTipsText">
      Пена, вода, вода с&nbsp;пеной, воск, осмос&nbsp;&mdash; используем лучшее оборудование и&nbsp;автохимию
    </p>
  </div>
</section>