<section class="clients-3">
  <h2 class="clientsTitle-3">Всё нужное<br /> под&nbsp;рукой</h2>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <p class="clientsDescription-3">
    Мы&nbsp;оборудовали зону сушки и&nbsp;уборки салона так, чтобы всё было под рукой: от&nbsp;губок до&nbsp;устройства для чернения колёс. Ничего не&nbsp;надо возить с&nbsp;собой.
  </p>
  <img src="/res/images/clients2.png" alt="" class="clientsImage-3">
  <div class="steps">
    <div class="step">
      <span class="stepCount">2</span>
      <p class="stepText">шага до оборудования</p>
    </div>
    <div class="step">
      <span class="stepCount">10</span>
      <p class="stepText">минут на&nbsp;уборку и&nbsp;протирку</p>
    </div>
    <div class="step">
      <span class="stepCount">7</span>
      <p class="stepText">в&nbsp;одном: инвентарь, устройства, <br />вода</p>
    </div>
    <div class="step">
      <span class="stepCount">4</span>
      <p class="stepText">источника направленного света</p>
    </div>
  </div>
</section>
