<section class="history-1">
  <h1 class="historyTitle-1">
    Как мы<br />
    мыли машины <br /> 
    раньше
  </h1>
  <div class="historyDescription-1">
    <p>Все мы&nbsp;помним времена, когда мыли автомобили во&nbsp;дворах, на&nbsp;дачах, из&nbsp;ведра или шланга. <nobr>Кому-то</nobr> это приносило удовольствие, для <nobr>кого-то</nobr> было в&nbsp;тягость.</p>
    <p>С&nbsp;особым восторгом к&nbsp;нам приезжают те, для кого мойка и&nbsp;уборка салона были праздником.</p>
  </div>
  <img src="/res/images/about1-2.png" class="historyImage-1-1">
  <img src="/res/images/about1-1.png" class="historyImage-1">
</section>