<section class="history-4">
  <h2 class="sectionTitle">
    Как мы эволюционировали
  </h2>
  <div class="historyDescription-4">
    <p>Год мы&nbsp;тестировали разные варианты, которые помогли&nbsp;бы автовладельцам не&nbsp;только правильно мыть машину, но&nbsp;и&nbsp;тратить меньше времени, сил и&nbsp;денег.</p>
    <p>В&nbsp;результате основали уникальную <nobr>бизнес-модель</nobr> на&nbsp;принципах симметрии как основы порядка, красоты и&nbsp;совершенства. Разработали новый вид сервиса&nbsp;&mdash; партнёрскую мойку и&nbsp;продумали удобное оборудование. Наши аквастендисты помогают правильно ухаживать за&nbsp;автомобилем и&nbsp;мыть в&nbsp;три раза быстрее.</p>
  </div>
  <img src="/res/images/history4.jpg" alt="" class="historyImage-4">
</section>