<section class="history-3">
  <h1 class="historyTitle-3">
    Как появились мы
  </h1>
  <svg class="factIcon">
    <g fill="#FAC76E">
      <use xlink:href="#spt-item" width="12" height="16"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="18" transform="rotate(180 24 7.5)"></use>
      <use xlink:href="#spt-item" width="12" height="16" x="36"></use>
    </g>
  </svg>
  <div class="historyDescription-3">
    <p>Тогда мы&nbsp;создали &laquo;Аквастенд&raquo;. Не&nbsp;просто мойку самообслуживания, а&nbsp;место, в&nbsp;котором доступно всё для правильного ухода за&nbsp;авто.</p>
    <p>Мы&nbsp;придумывали техники, учили мыть машины правильно, оборудовали мойку всем необходимым и&nbsp;создали условия для комфортной работы.</p>
    <p>Но&nbsp;этого было мало. Мы&nbsp;поняли: всё, что есть на&nbsp;рынке, не&nbsp;отвечает потребностям настоящих автолюбителей.</p>
  </div>
  <div class="historyImageHolder-3 js-handAnimation">
    <img src="/res/images/about3-2.jpg" alt="" class="historyImage-3-2">
    <img src="/res/images/about3-1.png" alt="" class="historyImage-3-1">
  </div>
</section>