<section class="history-2">
  <h1 class="historyTitle-2">
    Недавнее<br />
    прошлое
  </h1>
  <div class="historyDescription-2">
    <p>Недавно у&nbsp;водителей появился выбор. Оставить машину мойщику и&nbsp;заплатить за&nbsp;чистоту втридорога.</p>
    <p>Или съездить на&nbsp;мойку самообслуживания, чтобы сэкономить деньги, потратить силы и&nbsp;скорее всего уехать на&nbsp;машине с&nbsp;разводами.</p>
    <p>Нам не&nbsp;нравился ни&nbsp;тот, ни&nbsp;другой вариант.</p>
  </div>
  <div class="historyImageHolder">
    <img src="/res/images/about2-1.png" alt="" class="historyImage-2">
  </div>
</section>