<section class="manifest">
  <h2 class="manifestTitle">
    Манифест
  </h2>
  <div class="manifestText">
    <p>Мы&nbsp;точно знаем, что надо нашему клиенту в&nbsp;век технологий, качественного сервиса и&nbsp;высокого темпа жизни.</p>
    <p>Мы&nbsp;считаем, что безобразный сервис и&nbsp;мойки без базового инвентаря должны уйти в&nbsp;прошлое для людей, которые с&nbsp;уважением относятся к&nbsp;себе и&nbsp;своему автомобилю.</p>
    <p>Мы&nbsp;считаем, что эпоха заоблачных цен за&nbsp;мойку авто в&nbsp;закрытом боксе с&nbsp;неизвестными людьми, оборудованием, средствами и&nbsp;технологиями должна закончиться.</p>
    <p>Мы&nbsp;считаем, что стремление к&nbsp;порядку и&nbsp;уходу за&nbsp;своим окружением облагораживает человека, и&nbsp;время томительного бессмысленного ожидания должно уйти.</p>
    <p>В&nbsp;результате наша <nobr>бизнес-модель</nobr> помогает сохранять максимальный уровень рентабельности в&nbsp;категории. При этом клиенты пользуются сервисом высочайшего уровня: мы&nbsp;обеспечиваем всем необходимым для ухода за&nbsp;авто и&nbsp;помогаем достигать отличного результата.</p>
  </div>
</section>